:root { /* Palette */
	--s-sky-upper: #676589;
	--s-sky-lower: #9fc9c4;
	--s-text-light: #f2f0e5;
	--s-text-emphasis: #ede19e;
	--s-text-emphasis-border: #c4994e;
	--s-text-dim: #b8b5b9;
	--s-body-main: #212123;
	--s-card-main: #303035;
	--s-card-hover: #352b42;
	--s-card-shadow: #12121475;
	--s-card-shadow-hover: #12121480;
}

section img#ground {
	-webkit-filter: saturate(0.5) hue-rotate(-30deg);
	filter: saturate(0.5) hue-rotate(-30deg);
}