#adventuretime_1 { color: #76c75c; }
#adventuretime_2 { color: #cbbefd; }
#adventuretime_3 { color: #fea0a2; }
#adventuretime_4 { color: #e38842; }
#adventuretime_5 { color: #e2ba2a; }
#adventuretime_6 { color: #e6262d; }
#adventuretime_7 { color: #615d93; }
#adventuretime_8 { color: #ff66cc; }

#gravityfalls_1 { color: #89c4ff; }
#gravityfalls_2 { color: #feff54; }

#stevenuniverse_1 { color: #2f6ee6; }
#stevenuniverse_2 { color: #fb9c51; }
#stevenuniverse_3 { color: #8fee6a; }
#stevenuniverse_4 { color: #be94dc; }
#stevenuniverse_5 { color: #0486e3; }
#stevenuniverse_6 { color: #f994a8; }
#stevenuniverse_7 { color: #e39690; }
#stevenuniverse_8 { color: #faa8c4; }
#stevenuniverse_9 { color: #de81c0; }