@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Rubik+Maps");

:root { /* Palette */
	--s-sky-upper: #6cfff8;
	--s-sky-lower: #f0db7f;
	--s-text-light: #f7ffae;
	--s-text-emphasis: #96fbc7;
	--s-text-emphasis-border: #74569b;
	--s-text-dim: #d8bfd8;
	--s-body-main: #74569b;
	--s-card-main: #9366b1;
	--s-card-hover: #be74ac;
	--s-card-shadow: #423e7d75;
	--s-card-shadow-hover: #423e7d80;
}

* {
	font-family: "Acme";
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), color-stop(100vh, var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 100vh);
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 100vh);
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Rubik Maps";
	font-weight: 200;
}
section img#ground {
	-webkit-filter: sepia(50%) hue-rotate(90deg) brightness(150%) contrast(200%) opacity(75%);
	filter: sepia(50%) hue-rotate(90deg) brightness(150%) contrast(200%) opacity(75%);
}
section img#overlay {
	mix-blend-mode: color-burn;
}
.page-options a.item, .credits-options a.item {
	border-color: var(--s-text-emphasis);
	border-style: solid;
	border-width: 1px;
}
.page-options img {
	-webkit-filter: sepia() hue-rotate(-150deg) saturate(200%);
	filter: sepia() hue-rotate(-150deg) saturate(200%);
}
footer {
	width: 620px;
}