@import url("https://fonts.googleapis.com/css?family=Afacad");
@import url("https://fonts.googleapis.com/css?family=Nunito");

:root { /* Palette */
	--s-sky-upper: #dd5891;
	--s-sky-lower: #edc5d5;
	--s-text-light: #f8e6ee;
	--s-text-emphasis: #eec8d8;
	--s-text-emphasis-border: #cf6591;
	--s-text-dim: #db8dad;
	--s-body-main: #253355;
	--s-card-main: #503d6c;
	--s-card-hover: #81357f;
	--s-card-shadow: #0c325075;
	--s-card-shadow-hover: #0c325080;
}

* {
	font-family: "Afacad", sans-serif;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), color-stop(50vh, var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Nunito";
	font-weight: bolder;
}
section img#sky {
	-webkit-filter: saturate(2) hue-rotate(-90deg) saturate(150%);
	filter: saturate(2) hue-rotate(-90deg) saturate(150%);
}
section img#ground {
	-webkit-filter: sepia(75%) hue-rotate(225deg) saturate(200%);
	filter: sepia(75%) hue-rotate(225deg) saturate(200%);
}
section img#overlay {
	mix-blend-mode: color-burn;
}
.page-options img {
	-webkit-filter: sepia() hue-rotate(-90deg) saturate(200%);
	filter: sepia() hue-rotate(-90deg) saturate(200%);
}
footer {
	width: 550px;
}