@import url("https://fonts.googleapis.com/css?family=Gaegu");
@import url("https://fonts.googleapis.com/css?family=Klee+One");

:root { /* Palette */
	--s-sky-upper: #5aa7a1;
	--s-sky-lower: #c0ffd5;
	--s-text-light: #ffffc2;
	--s-text-emphasis: #f4ff9d;
	--s-text-emphasis-border: #accd5a;
	--s-text-dim: #bdeb94;
	--s-body-main: #00440b;
	--s-card-main: #115419;
	--s-card-hover: #176326;
	--s-card-shadow: #00320075;
	--s-card-shadow-hover: #00320080;
}

* {
	font-family: "Klee One", sans-serif;
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Gaegu";
}
section img#sky {
	-webkit-filter: saturate(1);
	filter: saturate(1);
}
section img#ground {
	-webkit-filter: sepia(75%) hue-rotate(60deg) saturate(1.25);
	filter: sepia(75%) hue-rotate(60deg) saturate(1.25);
}
section img#overlay {
	-webkit-filter: sepia() hue-rotate(45deg);
	filter: sepia() hue-rotate(45deg);
}
#page-options img {
	-webkit-filter: sepia() hue-rotate(105deg) saturate(200%);
	filter: sepia() hue-rotate(105deg) saturate(200%);
}
footer {
	width: 550px;
}