@import url("https://fonts.googleapis.com/css?family=Handjet");
@import url("https://fonts.googleapis.com/css?family=Pixelify+Sans");
@import url("./../other/antialiasing.css");

:root { /* Palette */
	--s-sky-upper: #88c070;
	--s-sky-lower: #e0f8d0;
	--s-text-light: #e0f8d0;
	--s-text-emphasis: #e0f8d0;
	--s-text-emphasis-border: #88c070;
	--s-text-dim: #88c070;
	--s-body-main: #081820;
	--s-card-main: #346856;
	--s-card-hover: #88c070;
	--s-card-shadow: #00000075;
	--s-card-shadow-hover: #00000080;
}

* {
	font-family: "Pixelify Sans", sans-serif;
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Handjet";
	letter-spacing: 2px;
}
header #funky-site-logo {
	font-family: "Pixelify Sans";
}
section img#ground {
	-webkit-filter: contrast(300%) sepia() hue-rotate(75deg) saturate(150%);
	filter: contrast(300%) sepia() hue-rotate(75deg) saturate(150%);
}
header #funky-site-logo:hover, header ul li a:hover, header ul li a.active, header ul li a#active, #page-options a#item, #video-player, #video-menu ul li, #settings_bar ul li a, #settings_branding ul li, #settings_colorcorrection ul li, #settings_themes ul li, #settings_additional ul li, #settings_credits a, #settings_credits a img, #settings_creditsmember ul li a, #settings_creditsmember img {
	border-radius: 0;
	transition: 0s;
}
#page-options a#item, #settings_colorcorrection img, #settings_general img {
	-webkit-filter: drop-shadow(0px 5px 0px var(--s-card-shadow));
	filter: drop-shadow(0px 5px 0px var(--s-card-shadow));
}
#page-options a#item:hover {
	-webkit-filter: drop-shadow(5px 10px 0px var(--s-card-shadow));
	filter: drop-shadow(5px 10px 0px var(--s-card-shadow));
	rotate: 0deg;
}
#page-options img {
	border-radius: 0;
	-webkit-filter: sepia() hue-rotate(75deg) saturate(150%);
	filter: sepia() hue-rotate(75deg) saturate(150%);
}
#video-menu ul li:hover, #settings_bar ul li a:hover, #settings_branding a:hover, #settings_colorcorrection a:hover, #settings_themes a:hover, #settings_additional a:hover, #settings_creditsmember ul li a:hover {
	border-radius: 0;
}
footer {
	width: 540px;
}