@import url("https://fonts.googleapis.com/css?family=Chilanka");
@import url("https://fonts.googleapis.com/css?family=Mansalva");

:root { /* Palette */
	--s-sky-upper: #d9bc9e;
	--s-sky-lower: #ffebd5;
	--s-text-light: #fff1dc;
	--s-text-emphasis: #ffeac8;
	--s-text-emphasis-border: #fdc998;
	--s-text-dim: #fee0c4;
	--s-body-main: #005945;
	--s-card-main: #006e55;
	--s-card-hover: #00705b;
	--s-card-shadow: #00473375;
	--s-card-shadow-hover: #00473380;
}

* {
	font-family: "Chilanka", sans-serif;
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Mansalva";
}
section img#sky {
	-webkit-filter: saturate(2) sepia();
	filter: saturate(2) sepia();
	mix-blend-mode: multiply;
	opacity: 50%;
}
section img#ground {
	-webkit-filter: sepia(50%) hue-rotate(30deg);
	filter: sepia(50%) hue-rotate(30deg);
}
section img#overlay {
	mix-blend-mode: color-burn;
}
.page-options img {
	-webkit-filter: sepia() hue-rotate(120deg) saturate(150%);
	filter: sepia() hue-rotate(120deg) saturate(150%);
}
footer {
	width: 550px;
}