@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

:root { /* Palette */
	--s-sky-upper: #4bca8d;
	--s-sky-lower: #a4f59d;
	--s-text-light: #f2e5e8;
	--s-text-emphasis: #ed9eaf;
	--s-text-emphasis-border: #c44e81;
	--s-text-dim: #b5b6b9;
	--s-body-main: #612937;
	--s-card-main: #64333e;
	--s-card-hover: #843849;
	--s-card-shadow: #14121375;
	--s-card-shadow-hover: #14121375;
}

* {
	font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), color-stop(50vh, var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Patrick Hand";
	font-weight: bolder;
}
section img#sky {
	mix-blend-mode: multiply;
}
section img#ground {
	-webkit-filter: saturate(0.8) sepia() hue-rotate(-90deg);
	filter: saturate(0.8) sepia() hue-rotate(-90deg);
}
#page-options img {
	-webkit-filter: sepia() hue-rotate(-60deg) saturate(150%);
	filter: sepia() hue-rotate(-60deg) saturate(150%);
}
footer {
	width: 430px;
}