@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root { /* Palette */
	--s-sky-upper: #7597de;
	--s-sky-lower: #ffffff;
	--s-text-light: #ffffff;
	--s-text-emphasis: #f1e7a4;
	--s-text-emphasis-border: #9a9159;
	--s-text-dim: #bfbfbf;
	--s-body-main: #040426;
	--s-card-main: #092b38;
	--s-card-hover: #092b38;
	--s-card-shadow: #01010e75;
	--s-card-shadow-hover: #01010e80;
}

* {
	font-family: 'Poppins', sans-serif;
}
*#ratified {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
	-webkit-filter: sepia() brightness(0.5) hue-rotate(-45deg) contrast(50);
	filter: sepia() brightness(0.5) hue-rotate(-45deg) contrast(50);
	-webkit-transform: scale(-100%);
	-ms-transform: scale(-100%);
	transform: scale(-100%);
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), to(var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower));
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower));
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Poppins";
}
header {
	background: transparent;
}
header ul li a.active, header ul li a#active {
	text-decoration: underline;
}
section img#sky {
	-webkit-filter: saturate(0.5) hue-rotate(10deg);
	filter: saturate(0.5) hue-rotate(10deg);
	mix-blend-mode: normal;
	opacity: 0.2;
}
section img#ground {
	-webkit-filter: saturate(0.5) hue-rotate(10deg);
	filter: saturate(0.5) hue-rotate(10deg);
}
section img#overlay {
	visibility: hidden;
}
#main-body h2 {
	color: var(--s-text-light);
	font-size: 3.5em;
	text-decoration: none;
}
#page-options {
	grid-template-columns: repeat(6, 1fr);
}
#page-options a#item {
	border-radius: 100%;
}
#page-options a#item:link {
	font-weight: 400;
	font-style: italic;
}
#page-options a#item:hover {
	-webkit-transform: scale(0.9) rotate(5deg);
	-ms-transform: scale(0.9) rotate(5deg);
	transform: scale(0.9) rotate(5deg);
	opacity: 0.8;
}
#page-options img, #page-options p {
	width: 75%;
}
#page-options img {
	-webkit-filter: none;
	filter: none;
	width: 66.666%;
}
#page-options p {
	color: var(--s-text-light);
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}
footer {
	width: 580px;
}