@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Merienda");

:root { /* Palette */
	--s-sky-upper: #413346;
	--s-sky-lower: #5a5261;
	--s-text-light: #ffb77d;
	--s-text-emphasis: #d47dff;
	--s-text-emphasis-border: #520089;
	--s-text-dim: #ce9262;
	--s-body-main: #402e20;
	--s-card-main: #6f371b;
	--s-card-hover: #c6622d;
	--s-card-shadow: #00000075;
	--s-card-shadow-hover: #00000080;

	--s-spinetingler-skylowest: #564438;
}

* {
	font-family: "Merienda";
}
body {
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 75vh, var(--s-spinetingler-skylowest) 100vh);
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Creepster";
	font-weight: 100;
}
section img#sky {
	-webkit-filter: sepia() hue-rotate(-135deg);
	filter: sepia() hue-rotate(-135deg);
	mix-blend-mode: color-burn;
	opacity: 10%;
}
section img#ground {
	-webkit-filter: sepia(50%) hue-rotate(-90deg) saturate(150%) contrast(75%) brightness(75%);
	filter: sepia(50%) hue-rotate(-90deg) saturate(150%) contrast(75%) brightness(75%);
}
section img#overlay {
	mix-blend-mode: color-burn;
	opacity: 7.5%;
}
#page-options img {
	-webkit-filter: sepia() hue-rotate(-30deg) saturate(150%);
	filter: sepia() hue-rotate(-30deg) saturate(150%);
}
footer {
	width: 450px;
}