@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

:root { /* Palette */
	--s-sky-upper: #878787;
	--s-sky-lower: #d7d7d7;
	--s-text-light: #ededed;
	--s-text-emphasis: #ff9395;
	--s-text-emphasis-border: #a00c0e;
	--s-text-dim: #fc6669;
	--s-body-main: #222222;
	--s-card-main: #323232;
	--s-card-hover: #653a3b;
	--s-card-shadow: #13131375;
	--s-card-shadow-hover: #13131375;
}

* {
	font-family: "Architects Daughter", sans-serif;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), color-stop(50vh, var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 50vh);
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Annie Use Your Telescope";
	font-weight: bolder;
}
section img#ground {
	-webkit-filter: grayscale();
	filter: grayscale();
}
.page-options img {
	-webkit-filter: sepia() hue-rotate(-45deg) saturate(200%) grayscale(50%);
	filter: sepia() hue-rotate(-45deg) saturate(200%) grayscale(50%);
}
footer {
	width: 430px;
}