:root { /* Palette */
	--s-sky-upper: #999999;
	--s-sky-lower: #000000;
	--s-text-light: #ffffcc;
	--s-text-emphasis: #ffff00;
	--s-text-emphasis-border: #ffcc00;
	--s-text-dim: #ccccff;
	--s-body-main: #330033;
	--s-card-main: #330066;
	--s-card-hover: #333399;
	--s-card-shadow: #000000;
	--s-card-shadow-hover: #000000;

	--s-websurfer-cursor: url("https://www.cursor.cc/cursor/197/200/cursor.png");
	--s-websurfer-cloud: url("https://textures.neocities.org/textures/nature-and-earth/CLOUD2.JPG");
	--s-websurfer-header: url("https://background-tiles.com/overview/grey/patterns/small/1028.png");
	--s-websurfer-body: url("https://textures.neocities.org/textures/abstract-pink-and-blue/017.GIF");
	--s-websurfer-card: url("https://background-tiles.com/overview/blue/textures/large/5028.png");
	--s-websurfer-settingmenu: url("https://background-tiles.com/overview/grey/patterns/large/1025.png");
	--s-websurfer-settingbar: url("https://background-tiles.com/overview/grey/patterns/large/1009.gif");
	--s-websurfer-settingbutton: url("https://background-tiles.com/overview/white/textures/large/5026.png");
}

* {
	font-family: Arial, Helvetica, sans-serif;
}
body, :hover, :link, img.squish:hover, :active, #page-options a#item, #settings_bar ul li a, #settings_branding a, #settings_colorcorrection a, #settings_themes a, #settings_credits a {
	cursor: var(--s-websurfer-cursor), auto;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 50%)), to(rgba(255, 255, 255, 50%))), var(--s-websurfer-cloud);
	background: -o-linear-gradient(rgba(255, 255, 255, 50%), rgba(255, 255, 255, 50%)), var(--s-websurfer-cloud);
	background: linear-gradient(rgba(255, 255, 255, 50%), rgba(255, 255, 255, 50%)), var(--s-websurfer-cloud);
}
header {
	background: var(--s-websurfer-header);
	background-size: contain;
}
section::before {
	background: none;
}
section img#sky, section img#ground, section img#overlay {
	image-rendering: auto;
}
section img#sky {
	mix-blend-mode: multiply;
}
section img#ground {
	-webkit-filter: contrast(150%);
	filter: contrast(150%);
}
header #funky-site-logo, header ul li a, #funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, #main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: Arial;
	font-weight: 700;
}
#main-body {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), var(--s-websurfer-body);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), var(--s-websurfer-body);
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), var(--s-websurfer-body);
}
#page-options a#item, #info-box {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--s-websurfer-card);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--s-websurfer-card);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--s-websurfer-card);
}
#page-options img {
	-webkit-filter: saturate(150%);
	filter: saturate(150%);
}
#settings_menu {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--s-websurfer-settingmenu);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--s-websurfer-settingmenu);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--s-websurfer-settingmenu);
}
#settings_bar {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), var(--s-websurfer-settingbar);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), var(--s-websurfer-settingbar);
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), var(--s-websurfer-settingbar);
}
#settings_branding a, #settings_colorcorrection a, #settings_themes a, #settings_bonus a, #settings_credits a {
	background: var(--s-websurfer-settingbutton);
}
footer {
	width: 560px;
}