@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Single+Day");

:root { /* Palette */
	--s-sky-upper: #947885;
	--s-sky-lower: #fbbaed;
	--s-text-light: #ffcbff;
	--s-text-emphasis: #ffb5d7;
	--s-text-emphasis-border: #d28f87;
	--s-text-dim: #e39fbc;
	--s-body-main: #4e581c;
	--s-card-main: #595a28;
	--s-card-hover: #6e6f3d;
	--s-card-shadow: #2d3e0075;
	--s-card-shadow-hover: #2d3e0080;
}

* {
	font-family: "Kalam", sans-serif;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--s-sky-upper)), color-stop(75vh, var(--s-sky-lower)));
	background: -o-linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 75vh);
	background: linear-gradient(var(--s-sky-upper) 0%, var(--s-sky-lower) 75vh);
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Single Day";
	font-weight: bolder;
}
section img#sky {
	mix-blend-mode: multiply;
}
section img#ground {
	-webkit-filter: sepia(50%) hue-rotate(-45deg);
	filter: sepia(50%) hue-rotate(-45deg);
}
.page-options img {
	-webkit-filter: sepia() saturate(200%) hue-rotate(22.5deg);
	filter: sepia() saturate(200%) hue-rotate(22.5deg);
}