@import url("https://fonts.googleapis.com/css?family=Unkempt");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

:root { /* Palette */
	--s-sky-upper: #776b7e;
	--s-sky-lower: #d7f698;
	--s-text-light: #fff69d;
	--s-text-emphasis: #fde39a;
	--s-text-emphasis-border: #e0918d;
	--s-text-dim: #dfad91;
	--s-body-main: #2e156b;
	--s-card-main: #47246f;
	--s-card-hover: #4e216f;
	--s-card-shadow: #15086775;
	--s-card-shadow-hover: #15086780;
}

* {
	font-family: "Walter Turncoat", sans-serif;
}
header .funky-site-logo, header ul li a, .funky-title, #funky-title-small, #funky-title-large, #funky-title-splash, #funky-title-splash a, .main-body h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Unkempt";
	font-weight: bolder;
}
section img#sky {
	mix-blend-mode: multiply;
}
section img#ground {
	-webkit-filter: saturate(0.75) hue-rotate(-15deg);
	filter: saturate(0.75) hue-rotate(-15deg);
}
section img#overlay {
	-webkit-filter: sepia() hue-rotate(180deg);
	filter: sepia() hue-rotate(180deg);
	mix-blend-mode: color-burn;
}
.page-options img {
	-webkit-filter: sepia() hue-rotate(-150deg) saturate(200%);
	filter: sepia() hue-rotate(-150deg) saturate(200%);
}
footer {
	width: 520px;
}