	/* Jumpscare Quick Fade */
@-webkit-keyframes quickyByeBye {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes quickyByeBye {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

	/* Splash Text Pulse */
@-webkit-keyframes pulsate {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	to {
		scale: 1;
	}
}
@keyframes pulsate {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	to {
		scale: 1;
	}
}

	/* Background Scroll */
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translate3d(0, -480px, 0);
		transform: translate3d(0, -480px, 0);
	}
	to {
		-webkit-transform: translate3d(-16px, -496px, 0);
		transform: translate3d(-16px, -496px, 0);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translate3d(0, -480px, 0);
		transform: translate3d(0, -480px, 0);
	}
	to {
		-webkit-transform: translate3d(-16px, -496px, 0);
		transform: translate3d(-16px, -496px, 0);
	}
}