@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); /* Imports */

@font-face { /* Locally Stored */
	font-family: "Dosis";
	src: url("./../../webfonts/Dosis-VariableFont_wght.ttf") format("woff2");
}
@font-face {
	font-family: "Indie Flower";
	src: url("./../../webfonts/IndieFlower-Regular.ttf") format("woff2");
}